@model IEnumerable<MVC_Project.Models.CarListingViewModel>

@{
    ViewData["Title"] = "Car Listings";
}

<h1>Our cars</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                Availability
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @item.Make
                </td>
                <td>
                    @item.Model
                </td>
				<td>
					@Html.DisplayFor(modelItem => item.isAvailable)
				</td>
                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CarId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.CarId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.CarId">Delete</a>
                    </td>
                } else
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.CarId">Details</a> |
                        <a asp-action="" asp-route-id="@item.CarId">Book</a>
                    </td>
                }
        </tr>
}
    </tbody>
</table>
