@using Microsoft.AspNetCore.Identity
@using System.Security.Claims

@model IEnumerable<MVC_Project.Models.BookingViewModel>

@{
    ViewData["Title"] = "Index";
}

@if (User.IsInRole("Admin"))
    {
    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Booking Id
                </th>
                <th>
                    Customer
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Car)
                </th>
                <th>
                    Rented on
                </th>
                <th>
                    Due back on
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingId)
                </td>
                <td>
                    @(item.Customer != null ? $"{item.Customer.FirstName}{item.Customer.LastName}" : "Unknown")
                </td>
                <td>
                    @(item.Car != null ? $"{item.Car.Make}{item.Car.Model}" : "Unknown")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BookingId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.BookingId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.BookingId">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
}